<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/Bootstrap/bootstrap.css"/>
    <include path="~/Content/Bootstrap/bootstrap.min.css"/>
    <include path="~/Content/Bootstrap/mdb.css"/>
    <include path="~/Content/Bootstrap/mdb.min.css"/>
    <include path="~/Content/Site.css" />
    
    <include path="~/Content/font/roboto/Roboto-Bold.eot"/>
    <include path="~/Content/font/roboto/Roboto-Bold.ttf"/>
    <include path="~/Content/font/roboto/Roboto-Bold.woff"/>
    <include path="~/Content/font/roboto/Roboto-Bold.woff2"/>

    <include path="~/Content/font/roboto/Roboto-Light.eot"/>
    <include path="~/Content/font/roboto/Roboto-Light.ttf"/>
    <include path="~/Content/font/roboto/Roboto-Light.woff"/>
    <include path="~/Content/font/roboto/Roboto-Light.woff2"/>

    <include path="~/Content/font/roboto/Roboto-Medium.eot"/>
    <include path="~/Content/font/roboto/Roboto-Medium.ttf"/>
    <include path="~/Content/font/roboto/Roboto-Medium.woff"/>
    <include path="~/Content/font/roboto/Roboto-Medium.woff2"/>

    <include path="~/Content/font/roboto/Roboto-Regular.eot"/>
    <include path="~/Content/font/roboto/Roboto-Regular.ttf"/>
    <include path="~/Content/font/roboto/Roboto-Regular.woff"/>
    <include path="~/Content/font/roboto/Roboto-Regular.woff2"/>

    <include path="~/Content/font/roboto/Roboto-Thin.eot"/>
    <include path="~/Content/font/roboto/Roboto-Thin.ttf"/>
    <include path="~/Content/font/roboto/Roboto-Thin.woff"/>
    <include path="~/Content/font/roboto/Roboto-Thin.woff2"/>
  </styleBundle>
</bundles>